.kycFormWrapper {
  width: 60vw;
  margin: auto;
}
@media screen and (max-width: 1919px) {
  .kycFormWrapper {
    width: 70vw;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .kycFormWrapper {
    width: 90vw;
  }
}
@media screen and (max-width: 900px) {
  .kycFormWrapper {
    width: 99vw;
  }
}
